[ea1ieif-host] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  width: 286px;
  height: 72px;
  background-color: #333;
  border-radius: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

[ea1ieif].avatar {
  position: relative;
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
}

[ea1ieif].info {
  padding: 0 12px;
  flex: 1 1 auto;
  min-width: 0;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

[ea1ieif].logo {
  position: absolute;
  top: 0;
  right: 0;
  color: #ec8225;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #333;
}

[ea1ieif].title {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[ea1ieif].duration {
  display: none;
  margin-top: 4px;
  font-size: 11px;
  line-height: 14px;
  opacity: 0.6;
}

[ea1ieif].status {
  display: inline-block;
  position: relative;
  height: 12px;
  padding: 0 4px 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  line-height: 12px;
  font-size: 9px;
}
[ea1ieif].status:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

[ea1ieif].call {
  position: relative;
  flex: 0 0 48px;
}

[ea1ieif].decor {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 50%;
  background: #fff;
  animation: pulseWave-ea1ieif 2s cubic-bezier(0.13, 1.11, 0.58, 1) infinite;
  opacity: 0;
}
[ea1ieif].decor.__2 {
  width: 62px;
  height: 62px;
  margin-top: -31px;
  margin-left: -31px;
  animation: pulseWave-ea1ieif 2s 0.4s cubic-bezier(0.13, 1.11, 0.58, 1) infinite;
}

msg-button[ea1ieif][shape=circle][role=primary][active] {
  color: #ec8225;
}
msg-button[ea1ieif][shape=circle][role=primary][active]:not([disabled]):hover {
  color: #ec8225;
}

@keyframes pulseWave-ea1ieif {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    transform: scale(0.1);
    opacity: 0.6;
  }
  65% {
    transform: scale(0.6);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

body {
  margin: 0 !important;
}[e7bc93l-host] {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  background: #363636;
}

[e7bc93l-host][size=xsmall] {
  width: 16px;
  height: 16px;
  font-size: 8px;
  line-height: 16px;
}

[e7bc93l-host][size=small] {
  width: 20px;
  height: 20px;
  background-size: 20px;
  font-size: 10px;
  line-height: 21px;
}

[e7bc93l-host][size=medium] {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

[e7bc93l-host][size=large] {
  width: 48px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
}

[e7bc93l-host][size=xlarge] {
  width: 96px;
  height: 96px;
  line-height: 96px;
  font-size: 32px;
}

[e7bc93l-host][size=xxlarge] {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 48px;
}

span[e7bc93l] {
  color: #fff;
  text-transform: uppercase;
}
span[e7bc93l].large {
  font-size: 1.2em;
}

img[e7bc93l] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}[e86zfpn-host] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.15s, opacity 0.15s, border-color 0.15s, box-shadow 0.15s;
  white-space: nowrap;
}
[e86zfpn-host] msg-counter {
  position: absolute;
  right: 0;
  top: 0;
}
[e86zfpn-host] .svg-fill {
  fill: currentColor;
}
[e86zfpn-host] .svg-stroke {
  stroke: currentColor;
}
[e86zfpn-host][shape=circle] {
  padding: 0;
  border-radius: 50%;
  color: #ffffff;
  height: 48px;
  width: 48px;
  min-width: 48px;
}
[e86zfpn-host][shape=circle][size=small] {
  height: 36px;
  width: 36px;
  min-width: 36px;
}
[e86zfpn-host][shape=circle][size=xsmall] {
  height: 24px;
  width: 24px;
  min-width: 24px;
}
[e86zfpn-host][shape=circle][role=primary] {
  background-color: #363636;
}
[e86zfpn-host][shape=circle][role=primary]:not([disabled]):hover {
  color: #ffffff;
  background-color: #363636;
  box-shadow: 0 0 0 1px #363636;
}
[e86zfpn-host][shape=circle][role=primary][active] {
  background-color: #ffffff;
  color: #363636;
}
[e86zfpn-host][shape=circle][role=primary][active]:not([disabled]):hover {
  color: #363636;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}
[e86zfpn-host][shape=circle][role=secondary] {
  background-color: transparent;
}
[e86zfpn-host][shape=circle][role=secondary]:not([disabled]):hover {
  color: #ffffff;
  background-color: #363636;
  box-shadow: 0 0 0 1px #363636;
}
[e86zfpn-host][shape=circle][role=secondary][active] {
  background-color: #0099ff;
}
[e86zfpn-host][shape=circle][role=secondary][active]:not([disabled]):hover {
  color: #ffffff;
  background-color: #0099ff;
  box-shadow: 0 0 0 1px #0099ff;
}
[e86zfpn-host][shape=circle][role=distraction] {
  background-color: #ff5555;
}
[e86zfpn-host][shape=circle][role=distraction]:not([disabled]):hover {
  color: #ffffff;
  background-color: #ff5555;
  box-shadow: 0 0 0 1px #ff5555;
}
[e86zfpn-host][shape=circle][role=accept] {
  background-color: #1ebb55;
}
[e86zfpn-host][shape=circle][role=accept]:not([disabled]):hover {
  color: #ffffff;
  background-color: #1ebb55;
  box-shadow: 0 0 0 1px #1ebb55;
}

.calls-legacy [e86zfpn-host][shape=circle][role=primary][active] {
  color: #999999;
}
.calls-legacy [e86zfpn-host][shape=circle][role=primary][active]:not([disabled]):hover {
  color: #999999;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}
.calls-legacy [e86zfpn-host][shape=circle][role=secondary]:not([disabled]):hover {
  color: #ffffff;
  background-color: transparent;
  box-shadow: 0 0 0 1px transparent;
}

[e86zfpn-host][shape=square] {
  text-align: center;
  font-weight: 400;
  border-radius: 32px;
  font-size: 14px;
  line-height: 16px;
  height: 32px;
  padding: 8px 16px;
}
[e86zfpn-host][shape=square][size=small] {
  font-size: 12px;
  line-height: 14px;
  height: 24px;
  padding: 5px 12px;
}
[e86zfpn-host][shape=square][size=xsmall] {
  font-size: 12px;
  line-height: 14px;
  height: 16px;
  padding: 1px 12px;
}
[e86zfpn-host][shape=square][role=primary] {
  background-color: #ec8225;
  color: #ffffff;
}
[e86zfpn-host][shape=square][role=primary]:not([disabled]):hover {
  color: #ffffff;
  background-color: #ec8225;
  box-shadow: 0 0 0 1px #ec8225;
}
[e86zfpn-host][shape=square][role=secondary] {
  background-color: #363636;
  color: #ffffff;
}
[e86zfpn-host][shape=square][role=secondary]:not([disabled]):hover {
  color: #ffffff;
  background-color: #404040;
  box-shadow: 0 0 0 1px #404040;
}

[e86zfpn-host][disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

slot[e86zfpn] {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

slot[slotted][e86zfpn] > msg-icon {
  color: inherit;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}[e-ryzee3-host] {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px;
  color: inherit;
  transition: color 0.15s;
}

[e-ryzee3-host].__active,[e-ryzee3-host].__active:hover {
  color: #ec8225 !important;
}

[e-ryzee3-host][size=small] {
  width: 12px;
  height: 12px;
}

[e-ryzee3-host][size=medium] {
  width: 16px;
  height: 16px;
}

[e-ryzee3-host][size=large] {
  width: 24px;
  height: 24px;
}

[e-ryzee3-host][size=xlarge] {
  width: 48px;
  height: 48px;
}

[e-ryzee3-host][icon=msg-logo] {
  color: #ec8225;
}

[e-ryzee3-host][icon=send-contact] {
  margin-top: -1px;
}

svg[e-ryzee3] {
  display: block;
  width: 100%;
  height: 100%;
}

[e-ryzee3-host][has-shadow] svg[e-ryzee3] {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
}
[e-ryzee3-host][has-shadow] svg path[e-ryzee3] {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
}

[e-ryzee3].svg-fill {
  fill: currentColor;
}

[e-ryzee3].svg-stroke {
  stroke: currentColor;
}

msg-button[shape=square] [e-ryzee3-host] {
  margin-right: 4px;
}

@keyframes spin-e-ryzee3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
[e-ryzee3-host].icon-spin {
  animation-name: spin-e-ryzee3;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}[e-pz3zmp-host] {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-shadow: 0 1px 1px rgba(54, 54, 54, 0.5);
}
/*# sourceMappingURL=app-widget.css.map */